.button {
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
    transition: 0.3s;

    &:active {
        box-shadow: 0 0px 4px rgba(0,0,0,0.33);
        transform: translateY(4px);
    }
    &:disabled {
        box-shadow: inherit;
        transform: none;
    }
    .icon {
        display: inline-flex;
        height: 24px;
        width: 24px;
    }
    .content {
        padding-top: 1px;
    }
}