.main-footer {
    background-color: #121212;
    color: #888;
    padding: 32px 16px;
    display: flex;
    justify-content: center;

    >.link {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;

        .img {
            width: 24px;
            height: auto;
            filter: invert(0.5);
        }
    }
}